
<nav class="pushy pushy-right">
    <ul class="list-unstyled">
      <li><a href="#">X</a></li>
      <li class='current'><a class='current' href="index.html" data-scroll>Home</a></li>
        <li><a href="#why-code" data-scroll>Why code</a></li>
        <li><a href="#how-it-works" data-scroll>How it works</a></li>
        <li><a href="#about" data-scroll>About us</a></li>
        <li><a href="#contact" data-scroll>Contact</a></li>
    </ul>
</nav>

<div class="site-overlay"></div>

<div id="container" class="animsition">

<header>
  <div class="container-fuid">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <div class="logo"><a href="#intro" data-scroll>hackfest</a></div>
      </div> <!-- end col-lg-6 -->
    
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <div class="menu-btn">&#9776;</div>
      </div> <!-- end col-lg-6 -->
    </div> <!-- end row -->
  </div> <!-- end container-fuid -->
</header>


<div id="intro" class="page-404">
  <div class="left-half"></div><div class="right-half"></div>
  <div class="text-404">
    <h1><span class="text-white">4</span><span class="halfStyle hs-base" data-content="0">0</span>4</h1>
  </div>
  <div class="back-404">
    <p>Oops! This is not the page you're looking for.</p>
    <a href="/" class="btn btn-default">take me home</a>
  </div>
</div> <!-- end intro -->


<p class="copyright">2015 Ironhack. All rights reserved</p>

</div> <!-- end #container & animsition -->

