

<!-- navigation ################################### -->

<nav class="pushy pushy-right">
    <ul class="list-unstyled">
	    <li><a href="#">X</a></li>
	    <li class='current'><a class='current' href="index.html" data-scroll>Home</a></li>
        <li><a href="#why-code" data-scroll>Why code</a></li>
        <li><a href="#how-it-works" data-scroll>How it works</a></li>
        <li><a href="#about" data-scroll>About us</a></li>
        <li><a href="#contact" data-scroll>Contact</a></li>
        <li><a href="#register" data-scroll>Register</a></li>
    </ul>
</nav>

<div class="site-overlay"></div>

<div id="container" class="animsition">

<header>
	<div class="container-fuid">
		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
				<div class="logo">
					<a href="#intro" data-scroll>
						<img src="hackfestlogo.png" alt="Hackfest" height="40px" width="auto">
					</a>
				</div>
			</div> <!-- end col-lg-6 -->
		
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
				<div class="menu-btn">&#9776;</div>
			</div> <!-- end col-lg-6 -->
		</div> <!-- end row -->
	</div> <!-- end container-fuid -->
</header>

<!-- end navigation ################################### -->

<% flash.each do |key, msg| %>
  <%= content_tag :div, msg, id: key, class: 'flash-messages'%>
<% end %>

<!-- intro ################################### -->

<div id="intro">
	<div class="left-half"><h1>Hack</h1></div><div class="right-half"><h1>Fest</h1></div>
</div> <!-- end intro -->

<div class="text-intro">
	<div class="container">
		<p class="title">Coming Oct 2015</p>
		<p>Hackfest is a one-day coding festival for anyone who has curiosity, creativity, and a keyboard. At the end of the day, you'll walk away with a fully functional website and all the skills you used to build it. It's completely free to attend, you just need to bring a laptop. Total beginners are totally welcome! </p>
		<div class="button-container"><a href="#register" class="btn btn-default btn-white">Register</a></div>
	</div> <!-- end container -->
</div> <!-- end text intro -->

<!-- end intro ################################### -->



<!-- why-code ################################### -->

<div id="why-code">
	<div class="container">
		
		<div class="section-header">
			<span class="section-header-line"></span><p class="header-number">1</p><span class="section-header-line"></span>
			<div class="hexagon"></div>
			<h2> why code? </h2>
			<p class="sub-header"> If you're interested in learning web development, HackFest is a fun and low-risk way to try out a potential new career path. Here's why we think it's worth a shot. </p>
		</div> <!-- end section-header -->
		
		<div class="row">
		
			<div class="col-lg-4 col-md-4">
				<div class="news news-1">
					<a href="http://blog.ironhack.com/2015/01/10-reasons-learn-to-code-infographic/" target="blank">
						<div class="news-content">
							<p class="news-title"> Programmers are in high demand. </p>
							<p class="news-read-more"> read more</p>
						</div> <!-- news-content -->
					</a>
				</div> <!-- end news -->
			</div> <!-- end col-lg-4 -->
			
			<div class="col-lg-4 col-md-4">
				<div class="news news-2">
					<a href="http://blog.ironhack.com/2013/11/start-learning-how-to-code-now-for-free/" target="blank">
						<div class="news-content">
							<p class="news-title"> Anyone can learn the basics. </p>
							<p class="news-read-more">read more</p>
						</div> <!-- news-content -->
					</a>
				</div> <!-- end news -->
			</div> <!-- end col-lg-4 -->
			
			<div class="col-lg-4 col-md-4">
				<div class="news news-3">
					<a href="http://blog.ironhack.com/2015/03/study-abroad-and-code-in-spain/" target="blank">
						<div class="news-content">
							<p class="news-title"> It's fun! <br> So. Much. Fun. </p>
							<p class="news-read-more">read more</p>
						</div> <!-- news-content -->
					</a>
				</div> <!-- end news -->
			</div> <!-- end col-lg-4 -->
			
		</div> <!-- end row -->
	</div> <!-- end container -->
</div> <!-- end why-code -->

<!-- end latest news -->



<!-- services ################################### -->

<div id="how-it-works">
	<div class="container">
		<div class="section-header">
			<span class="section-header-line"></span><p class="header-number">2</p><span class="section-header-line"></span>
			<div class="hexagon"></div>
			<h2>How it works</h2>
			<p class="sub-header"> What can you expect at Barcelona's first ever Hackfest? </p>
		</div> <!-- end section-header -->
		
		<div class="row">
			
			<div class="col-lg-6 col-md-6">
				<div class="service-type">
					<p class="service-type-title">classes</p>
					<p class="service-type-text"> You'll get a crash course in web development, starting with beginner classes in HTML and CSS. You will work with a teaching assistant who can answer your questions. Don't depend on the classes too much though; this is a different way to learn. We teach you how to teach yourself.</p>
					
					<ul class="right-list list-unstyled">
						<li>html/css</li>
						<li>javascript</li>
					</ul>
					<div class="service-type-number">01</div>
				</div>
			</div> <!-- end col-lg-6 -->
			
			<div class="col-lg-6 col-md-6">
				<div class="service-type">
					<p class="service-type-title">projects</p>
					<p class="service-type-text"> We believe in learning by doing. You'd be surprised how quickly you can learn to write your first lines of code. You and your team will choose a project brief and complete the project by the end of the day. Each team member codes part of the final project. Your team will have a teaching assistant to answer questions and keep you on track. </p>
					
					<ul class="right-list list-unstyled">
						<li>real code</li>
						<li>creative projects</li>
					</ul>
					<div class="service-type-number">02</div>
				</div>
			</div> <!-- end col-lg-6 -->
			
			<div class="col-lg-6 col-md-6">
				<div class="service-type">
					<p class="service-type-title">people</p>
					<p class="service-type-text"> You'll meet like-minded people who are also interested in learning to code, especially in your team. This event is for beginners, so there will be people from many different backgrounds. What we all have in common is an open mind with a passion for creating. Throughout the day, you'll be collaborating with a small team to create a website. </p>

					<ul class="right-list list-unstyled">
						<li>200+ participants</li>
						<li>Teams of 10</li>
					</ul>
					<div class="service-type-number">03</div>
				</div>
			</div> <!-- end col-lg-6 -->
			
			<div class="col-lg-6 col-md-6">
				<div class="service-type">
					<p class="service-type-title">fest</p>
					<p class="service-type-text"> In addition to learning and practicing code, you can look forward to an exciting pitch competition. By the end of the day, your team will have coded a full website which you can present for the chance to win with some sweet prizes. And of course, what kind of festival would it be without an afterparty? </p>
				
					
					<ul class="right-list list-unstyled">
						<li>pitches/prizes</li>
						<li>afterparty!</li>
					</ul>
					<div class="service-type-number">04</div>
				</div>
			</div> <!-- end col-lg-6 -->
			
		</div> <!-- end row -->
		
		
		<div class="process">
			<div class="row">
				<div class="col-lg-12">
				
					<h3>schedule</h3>
					<p class="sub-header-small"> A breakdown of the festival</p>
					
					<ul class="process-list list-unstyled list-inline">
						<li class="admin-time">
							<p> Arrive and register </p>
						</li>
						
						<li class="class-time">
							<p>Class: HTML/CSS</p>
						</li>
						
						<li class="coding-time">
							<p> Start coding!</p>
						</li>
						
						<li class="admin-time">
							<p>Lunch</p>
						</li>
						<li class="coding-time">
							<p>Continue group work</p>
						</li>
						<li class="class-time">
							<p>Keynote speaker </p>
						</li>
						<li class="pitch-time">
							<p>Pitch competition </p>
						</li>
						<li class="admin-time">
							<p>Afterparty </p>
						</li>

					</ul>
					
					<div class="process-image"></div>
				
				</div> <!-- end col-lg-12 -->
			</div> <!-- end row -->
		</div> <!-- end process -->
		
	</div> <!-- end container -->
</div> <!-- end how it works -->

<!-- end how it works ################################### -->


<!-- separator 1 ################################### -->

<div id="separator-1">
	<p class="separator-title">interested?</p>
	<p class="separator-text"> You should be! Register for the event or contact us for more info. </p>
	<div class="button-container"><a href="#contact" class="btn btn-default btn-white">say hey</a></div>
</div>

<!-- end separator 1 ################################### -->



<!-- Work ################################### -->
	
<!-- <div id="work">
	<div class="container-fluid">
		
		<div class="section-header">
			<span class="section-header-line"></span><p class="header-number">3</p><span class="section-header-line"></span>
			<div class="hexagon"></div>
			<h2>Project Briefs</h2>
			<p class="sub-header">Take a peek at the real-world projects we will be working on.</p>
		</div> 
		
		<div class="show-me">show me:</div>
		<ul class="filter-list list-inline list-unstyled">
			<li class="filter" data-filter="all">all</li>
			<li class="filter" data-filter=".category-1">web</li>
			<li class="filter" data-filter=".category-2">print</li>
			<li class="filter" data-filter=".category-3">video</li>
		</ul>
		
		<div id="work-container">
			
			<ul class="work-grid">
				<li class="mix category-1" data-myorder="2">
					<a href="single-project.html">
						<img src="images/work-small-1.jpg" alt="" />
						<div><h3>view project</h3></div>
					</a>
				</li>
				
				<li class="mix category-2" data-myorder="4">
					<a href="single-project.html">
						<img src="images/work-small-2.jpg" alt="" />
						<div><h3>view project</h3></div>
					</a>
				</li>
				
				<li class="mix category-1" data-myorder="1">
					<a href="single-project.html">
						<img src="images/work-small-4.jpg" alt="" />
						<div><h3>view project</h3></div>
					</a>
				</li>
				
				<li class="mix category-3" data-myorder="8">
					<a href="single-project.html">
						<img src="images/work-small-5.jpg" alt="" />
						<div><h3>view project</h3></div>
					</a>
				</li>
				
				<li class="mix category-2" data-myorder="8">
					<a href="single-project.html">
						<img src="images/work-small-3.jpg" alt="" />
						<div><h3>view project</h3></div>
					</a>
				</li>
				
				<li class="mix category-3" data-myorder="8">
					<a href="single-project.html">
						<img src="images/work-small-6.jpg" alt="" />
						<div><h3>view project</h3></div>
					</a>
				</li>
			</ul>

		</div> 
		
	</div> 
</div>  -->

<!-- end work #################################### -->



<!-- about ################################### -->

<div id="about">
	<div class="container">
		<div class="section-header">
			<span class="section-header-line"></span><p class="header-number">4</p><span class="section-header-line"></span>
			<div class="hexagon"></div>
			<h2>about us</h2>
			<p class="sub-header"> HackFest is organized by Ironhack and Makers of Barcelona, or in other words, by people who delight in constantly finding new ways to learn and create. </p>
		</div> <!-- end section-header -->
	
	<!-- 
		<ol class="lens-profile-timeline">
			<li style="left: 5%;">
				<time datetime="1970-10-29">1970</time>
				<p>Beginning of time</p>
			</li>

			<li style="left: 45%;">
				<time datetime="1987-01-06">1987</time>
				<p>Sharon was born</p>
			</li>
			<li style="left: 75%;">
				<time datetime="2007-01-01">2007</time>
				<p>Something happened</p>
			</li>
			<li style="left: 85%;">
				<time datetime="2011-01-01">2013</time>
				<p>Something important</p>
			</li>
			<li style="right: 0;">
				<time datetime="2013-04-02">2015</time>
				<p>Present</p>
			</li>
		</ol> -->
		
		<div class="row">
			<div class="about-info">
			
				<div class="col-lg-6 col-md-6">
					<img src="mob.png" class="img-responsive" alt="" />
				</div> <!-- end col-lg-6 -->
				
				<div class="col-lg-6 col-md-6">
					<span class="org-logo"><img src="white_logo_ironhack.png"></span><h4> Ironhack</h4>
					<p> Ironhack offers intensive programming courses for developers and entrepreneurs. Founded in Madrid, it is also operational in Barcelona and Miami. Ironhack has reached over a thousand students through hands-on workshops and intensive bootcamp courses. The courses are career-focused and taught by professional developers, with a big emphasis on practical application and real use cases. The result is a 92% job placement rate among its graduates.</p>
					<ul class="list-unstyled list-inline text-left">
							<li><a href="http://ironhack.com/" target="blank"><i class="fa fa-link"></i></i></a></li>
							<li><a href="https://twitter.com/ironhack" target="blank"><i class="fa fa-twitter"></i></a></li>
							<li><a href="https://www.facebook.com/theironhack" target="blank"><i class="fa fa-facebook"></i></a></li>
					</ul>
					
					<h4>Makers of Barcelona</h4>
					<p>Makers of Barcelona is a striving community of over 200 creative, innovative and business minded people, from all over the world. MOB is much more than a co-working office. With over 120 members, it provides the perfect platform from which to take a project from idea to completion, allowing you to test, prototype, market and release your project all under one roof. </p>
					<ul class="list-unstyled list-inline text-left">
							<li><a href="http://www.mob-barcelona.com/" target="blank"><i class="fa fa-link"></i></i></a></li>
							<li><a href="https://twitter.com/MOB_BCN" target="blank"><i class="fa fa-twitter"></i></a></li>
							<li><a href="https://www.facebook.com/MOB.BCN" target="blank"><i class="fa fa-facebook"></i></a></li>
					</ul>
					
				</div> <!-- end col-lg-6 -->
			
			</div> <!-- end about-info -->
		</div> <!-- end row -->
		
	</div> <!-- end container -->
</div> <!-- end about -->

<!-- end about ################################### -->



<!-- sponsors ################################### -->

<div class="sponsors">
	<div class="container">
		<h3>sponsors</h3>
		
		<div class="row">
			
			<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
				<div class="row">
					<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
						<h4 class="text-right">Ironhack</h4>
						<p class="text-right">Red Five standing by. The more you tighten your grip, Tarkin, the more star systems will slip through your fingers. You mean it controls your actions?</p>
						<ul class="list-unstyled list-inline text-right">
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-instagram"></i></a></li>
						</ul>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
						<img src="blue_logo_png.png" class="img-responsive" alt="" />
					</div> <!-- end col-lg-4 -->
				</div>	 
			</div> <!-- end col-lg-6 -->
			
			<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
				<div class="row">
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
						<img src="logo-MOBMANok.png" class="img-responsive" alt="" />
					</div> <!-- end col-lg-4 -->
					<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
						<h4>Makers of Barcelona</h4>
						<p>Red Five standing by. The more you tighten your grip, Tarkin, the more star systems will slip through your fingers. You mean it controls your actions?</p>
						<ul class="list-unstyled list-inline">
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-instagram"></i></a></li>
						</ul>
					</div> <!-- end col-lg-8 -->
				</div>	 
			</div> <!-- end col-lg-6 -->
			

		</div> <!-- end row -->
	</div> <!-- end container -->
</div> <!-- end sponsors -->

<!-- end sponsors ################################### -->


<!-- contact us ################################### -->

<div id="contact">

			<p class="separator-title">Contact Us</p>
			<ul class="contact-info-list list-unstyled list-inline">
				<li>
					<p class="contact-info-title">email</p>
					<p><a class="contact-info-text" href="mailto:hi@ironhack.com" target="blank">hi@ironhack.com</a></p>
				</li>
				
				<li>
					<p class="contact-info-title">twitter</p>
					<p><a class="contact-info-text" href="https://twitter.com/ironhack" target="blank">@ironhack</a></p>
				</li>
				
				<li>
					<p class="contact-info-title">visit</p>
					<p><a class="contact-info-text" href="https://www.google.es/maps/place/MOB+(Makers+Of+Barcelona)/@41.391829,2.177191,17z/data=!3m1!4b1!4m2!3m1!1s0x12a4a2e4de683851:0xb8914736ff97cfb6?hl=en" target="blank">Calle Bailen, 11<br/>Barcelona</a></p>
				</li>
			</ul>
</div>

<!-- end contact-us ################################### -->



<!-- contact ################################### -->
<div id="register">
	<div class="container">
		
		<div class="section-header">
			<span class="section-header-line"></span><p class="header-number">5</p><span class="section-header-line"></span>
			<div class="hexagon"></div>
			<h2>Register</h2>
			<p class="sub-header"> If you want to register for the event, please fill out the form below!</p>
		</div> <!-- end section-header -->
		
		
		<div class="row">
			<!-- registration form begins -->
            <div class="form-container" id="register-form">
                <form accept-charset="UTF-8" action="/applicants" method="post"class="form">
                <input name="authenticity_token" id="auth-token" value="<%= form_authenticity_token %>" type="hidden">
        
<!--                     <div class="quform-inner">
                        
                        <div class="quform-elements"> -->
                        
                        <div class="col-lg-12">
	                        <!-- begin name input element -->
	                        <!-- <div class="quform-element quform-element-text"> -->
	                            <div class="register-form-spacer form-group">
	                                <!-- <div class="quform-input"> -->
	                                	<input id="name" type="text" class="form-control" name="applicant[name]" placeholder="Name" data-error="Please enter your name." required>
	                                	<div class="help-block with-errors"></div>
	                                <!-- </div> -->
	                            </div>
	                        <!-- </div> -->
	                        <!-- end name input element -->
                        </div> <!-- end col-lg-6 -->
	                    
	                    <div class="col-lg-12">
	                        <!-- begin email input element -->
	                            <div class="register-form-spacer form-group">
	                                	<input id="email" type="email" class="form-control" name="applicant[email]" placeholder="Email" data-error="Please enter a valid email." required>
	                                	<div class="help-block with-errors"></div>
	                            </div>
	                        <!-- end email input element -->
	                    </div> <!-- end col-lg-6 -->

	                    <div class="col-lg-12">
	                        <!-- begin age input element -->
	                            <div class="register-form-spacer form-group">
	                                	<label class="form-label" for="age">How old are you?</label>
                                    <select name="applicant[age]" id="age" class="form-control">
                                        <option disabled="disabled" selected="selected" value="">Choose one</option>
                                        <option value="Under 18">Under 18</option>
                                        <option value="18-24">18-24</option>
                                        <option value="25-31">25-35</option>
                                        <option value="32-38">36-50</option>
                                        <option value="Over 50">Over 50</option>
                                    </select>
	                            </div>
	                        <!-- end age input element -->
	                    </div> <!-- end col-lg-6 -->

	                    <div class="col-lg-12">
	                        <!-- begin gender input element -->
	                            <div class="register-form-spacer form-group">
	                                	<label class="form-label" for="gender">What's your gender?</label>
                                    <select name="applicant[gender]" id="age" class="form-control">
                                        <option disabled="disabled" selected="selected" value="">Choose one</option>
                                        <option value="female">Female</option>
                                        <option value="male">Male</option>
                                        <option value="other">Other</option>
                                    </select>
	                            </div>
	                        <!-- end gender input element -->
	                    </div> <!-- end col-lg-6 -->

	                    <div class="col-lg-12">
	                        <!-- begin interest input element -->
	                            <div class="register-form-spacer form-group">
	                                	<label class="form-label" for="interest">Why do you want to learn how to code?</label>
                                    <select name="applicant[interest]" id="age" class="form-control" data-error="Please fill out this field."required>
                                        <option disabled="disabled" selected="selected" value="">Choose one</option>
                                        <option value="curious">I'm just curious. Seems cool.</option>
                                        <option value="websites">I want to make websites. </option>
                                        <option value="job">I think it will help me in my current job.</option>
                                        <option value="pro">I want to become a professional web developer.</option>
                                        <option value="technology">I'm generally interested in learning about technology.</option>
                                    </select>
                                    <div class="help-block with-errors"></div>
	                            </div>
	                        <!-- end age input element -->
	                    </div> <!-- end col-lg-6 -->
	                    
	                    <div class="col-lg-12">
		                    <!-- begin Interest element -->
		                        <div class="register-form-spacer form-group">
	                            	<textarea id="background" class="form-control" name="applicant[background]" placeholder="Tell us a bit about yourself! What's your educational/professional background? Any other fun facts about you we should know?" data-error="Please fill out this field."required></textarea>
				                        <div class="help-block with-errors"></div>
		                        </div>
                      </div>
	                        <!-- end Interest element -->
	                        
	                    <div class="col-lg-12 register">
	                    	<div class="register-form-spacer text-center">
		                    	<input id="newsletter" class="register-checkbox" type="checkbox" name="applicant[newsletter]" value="newsletter" checked> I want get the Ironhack newsletter. Sign me up!
	                    	</div>
	                    </div>
	                    
	                        <!-- begin Submit button -->
	                        		<div class="text-center">
	                                <button class="btn btn-default" type="submit" value="Send" id="submit-btn"><span>Send</span></button>
	                            </div>
	                        <!-- end Submit button -->
	                    </div> <!-- end col-lg-12 -->
	                       
                       <!-- </div> -->
                   </div>
                </form>
            </div>
			<!-- register form ends -->

				<!-- confirmation modal -->
			<div class="modal fade" id="success-modal">
			  <div class="modal-dialog">
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			        <h4 class="modal-title">Thanks for registering!</h4>
			      </div>
			      <div class="modal-body">
			        <p>We'll email you soon with more information about the event and what to expect. You're on your way to coding your first website!</p>
			        <p>Tell everyone you know.</p>
			        <!-- social share buttons -->
			        <ul class="list-unstyled list-inline">
			        	<li>
				        	<a href="mailto:?subject=I%27m%20going%20to%20Hackfest!;body=I%20just%20signed%20up%20to%20learn%20web%20development%20at%20Hackfest!%20https%3A%2F%2Fhackfestbcn.herokuapp.com%2F">
					        	<button class="btn btn-email"><i class="fa fa-envelope"></i>Email</button>
				        	</a>
			        	</li>
			        	<li>
				        	<a href="https://www.facebook.com/sharer/sharer.php?u=https://hackfestbcn.herokuapp.com/" target="_blank">
					        	<button class="btn btn-fb"><i class="fa fa-facebook"></i>Facebook</button>
				        	</a>
			        	</li>
			        	<li>
				        	<a href="http://twitter.com/home?status=I%27m%20going%20to%20Hackfest!%20with%20%40MOB_BCN%20%40Ironhack%20https%3A%2F%2Fhackfestbcn.herokuapp.com" target="_blank">
					        	<button class="btn btn-twitter"><i class="fa fa-twitter"></i>Twitter</button>
				        	</a>
			        	</li>
			        </ul>

			        <!-- end social share buttons -->		      
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			      </div>
			    </div><!-- /.modal-content -->
			  </div><!-- /.modal-dialog -->
			</div><!-- /.modal -->

			<!-- error modal -->
			<div class="modal fade" id="error-modal">
			  <div class="modal-dialog">
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			        <h4 class="modal-title">Oops!</h4>
			      </div>
			      <div class="modal-body">
			        <p>Your form was not submitted. Please make sure all the fields are filled in correctly.</p>
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			      </div>
			    </div><!-- /.modal-content -->
			  </div><!-- /.modal-dialog -->
			</div><!-- /.modal -->

		</div> <!-- end row -->
		
			
	</div> <!-- end container -->
</div> <!-- end registration -->

<!-- end contact ################################### -->


<p class="copyright">2015 Ironhack. All rights reserved</p>

</div> <!-- end #container & animsition -->

