// Place all the styles related to the site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*
  SCRN II - HTML Template
  Copyright 2015, Rodbor
  www.themenom.com
  
  --- Main Stylesheet ---
  
  Contents
  
  01. Generic styles
  02. Typography
  03. Buttons
  04. Headers elements
  05. Navigation
  06. Intro
  07. Work
  08. Services
  09. Separators
  10. About
  11. Latest news
  12. Contact
  13. Single project
  14. Blog
  15. 404 Page
  16. Style tile
  17. Media queries

*/


/* 01. Generic styles -------------------------------------------------- */

html, body {
  height: 100%;
}

body {
  min-height: 100%;
  overflow-x: hidden;
}

#container {
  border: 70px solid #f9f9f9;
  border-top-width: 0;
  border-bottom-width: 0;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0; 
}



/* 02. Typography -------------------------------------------------- */

body, p, h1, h2, h3, h4, h5, a {
  font-family: 'Open Sans', sans-serif;
  color: #3a3a3a;
}

h1 {
  font-size: 200px;
  font-weight: 700;
  text-transform: uppercase;
}

h2 {
  font-size: 96px;
  font-weight: 700;
  text-transform: uppercase;
  margin: -35px 0 35px 0;
}

h3 {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase; }

h4 {
  font-size: 30px;
  font-weight: 700;
  margin: 0;
}

p {
  font-size: 14px;
  line-height: 1.72em;
}

p.sub-header {
  color: #8c8c8c;
  font-size: 20px;
  margin-bottom: 80px;
}

p.sub-header-small {
  color: #8c8c8c;
}

a:hover, a:focus{
  color: #ec1556;
  text-decoration: none;
}


/* 03. Buttons -------------------------------------------------- */

/* button 1 */

.btn-default {
  color: #3a3a3a;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  border: 2px solid #ec1556;
  border-radius: 0;
  padding: 10px 30px;
  transition: background 0.3s;
  -webkit-transtion: background 0.3s; 
}
  .btn-default:hover {
    background: #ec1556;
    color: #fff;
    border: 2px solid #ec1556;
  }

/* button 2 */

.btn-wb {
  border: 2px solid #3a3a3a;
}
  .btn-wb:hover {
    background: #3a3a3a;
    color: #fff;
    border: 2px solid #3a3a3a;
  }

/* button 3 */

.btn-white {
  border: 2px solid #fff;
}

/*button 4 */

.button-container {
  border: 2px solid rgba(255, 255, 255, 0.6);
  padding: 5px;
  display: inline-block;
}

.button-container-color {
  border: 2px solid rgba(199, 2, 48, 0.6);
  padding: 5px;
  display: inline-block;
}

/* button 5 */

.btn-transparent {
  background: transparent;
  color: #fff;
}



/* 04. Headers elements -------------------------------------------------- */

.section-header {
  text-align: center;
  position: relative;
  margin: 120px 0 0 0;
}
  .section-header p.header-number {
    color: #b5b5b5;
    font-size: 16px;
    font-weight: 700;
    display: inline-block;
    position: relative;
    z-index: 11;
  }

span.section-header-line {
  border-bottom: 2px solid #e1e1e1;
  height: 2px;
  width: 145px;
  display: inline-block;
  margin: 0 30px;
  position: relative;
  top: -4px;
}

.hexagon {
  position: relative;
  z-index: 10;
  width: 36px;
  height: 20.78px;
  background-color: #fff;
  margin: 10.39px auto;
  top: -44px;
  border-left: solid 3px #e1e1e1;
  border-right: solid 3px #e1e1e1;
}

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 25.46px;
  height: 25.46px;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background-color: inherit;
  left: 2.2721px;
}

.hexagon:before {
  top: -12.7279px;
  border-top: solid 4.2426px #e1e1e1;
  border-right: solid 4.2426px #e1e1e1;
}

.hexagon:after {
  bottom: -12.7279px;
  border-bottom: solid 4.2426px #e1e1e1;
  border-left: solid 4.2426px #e1e1e1;
}

/*dark background */
#about p.header-number, #contact p.header-number {
  color: #a9a9a9;
}
#about .hexagon, #contact .hexagon {
  background: #3c3c3c;
}
#about span.section-header-line, #about .hexagon, #about .hexagon:before, #about .hexagon:after, #about .hexagon:before, #about .hexagon:after, #contact span.section-header-line, #contact .hexagon, #contact .hexagon:before, #contact .hexagon:after, #contact .hexagon:before, #contact .hexagon:after {
  border-color: #838383;
}



/* 05. Navigation -------------------------------------------------- */

header {
  background: #f9f9f9;
  margin-top: 0;
  padding: 12px 0;
  position: fixed;
  z-index: 1000;
  right: 0;
  top: 0;
  width: 100%;
  overflow: hidden;
}

.logo {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
  left: 70px;
}
  .logo a:hover {
    color: inherit;
    text-decoration: none;
  }

.menu-btn {
  font-size: 26px;
  text-align: right;
  position: relative;
  right: 70px;
}
  .menu-btn:hover {
    cursor: pointer;
  }



/* 06. Intro -------------------------------------------------- */

#intro {
  background: url(ironhack-cover.png) 50% 0 repeat fixed;
  background-size: cover;
  width: 100%;
  height: 95vh;
  position: relative;
  z-index: 1;
}
  #intro h1 {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

.left-half, .right-half {
  display: inline-block;
  width: 50%;
  height: 100%;
  position: relative;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.left-half {
  background: rgba(199, 2, 48, 0.6);
  text-align: right;
}
  .left-half h1 {
    color: #fff;
    right: 0;
  }

.text-intro {
  background: #f0f0f0;
  text-align: center;
  padding: 60px;
  position: relative;
  z-index: 10;
}
  .text-intro p.title {
    color: #3a3a3a;
    font-size: 38px;
    font-weight: 700;
    margin-bottom: 30px;
  }
  .text-intro p {
    color: #676666;
    font-size: 18px;
  }



/* 07. Work -------------------------------------------------- */

#work {
  background: #fff;
  position: relative;
  z-index: 10;
  padding: 80px 0 0 0;
}

.show-me {
  background: #f0f0f0;
  color: #3a3a3a;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 15px 0 15px 25px;
}

#work-container {
  margin-top: -10px;
}

.filter-list {
  background: #e4e4e4;
  margin: 0;
  padding: 0;
}

li.filter {
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 12px 24px;
  margin: 0;
  transition: background 0.3s;
  -webkit-transtion: background 0.3s;
}
  li.filter:hover {
    background: #c70331;
    color: #fff;
    cursor: pointer;
  }

li.filter.on {
  background: #c70331;
  color: #fff;
}

#work-container .mix {
  display: none;
}

.work-grid {
  padding: 0;
  list-style: none;
  position: relative;
  width: 100%;
}

.work-grid li {
  position: relative;
  float: left;
  overflow: hidden;
  width: 33.3333333%;
  width: -webkit-calc(100% / 3);
  width: calc(100% / 3);
}

.work-grid li a,
.work-grid li a img {
  display: block;
  width: 100%;
  cursor: pointer;
}

.work-grid li a img {
  max-width: 100%;
}

.work-grid li a div {
  position: absolute;
  left: 20px;
  top: 20px;
  right: 20px;
  bottom: 20px;
  background: rgba(199, 2, 48, 0.6);
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s;
  -webkit-transtion: opacity 0.3s;
}

.work-grid li a:hover div {
  opacity: 1;
}

.work-grid li a div h3 {
  width: 100%;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.4em;
  letter-spacing: 2px;
  padding: 0 10px;
}

@media screen and (max-width: 1190px) {
  .work-grid li {
    width: 33.3333333%;
    width: -webkit-calc(100% / 3);
    width: calc(100% / 3); 
  } 
}

@media screen and (max-width: 945px) {
  .work-grid li {
    width: 33.3333333%;
    width: -webkit-calc(100% / 3);
    width: calc(100% / 3);
  }
}

@media screen and (max-width: 660px) {
  .work-grid li {
    width: 33.3333333%;
    width: -webkit-calc(100% / 3);
    width: calc(100% / 3);
  }
}

@media screen and (max-width: 660px) {
  .work-grid li {
    width: 50%;
    width: -webkit-calc(100% / 2);
    width: calc(100% / 2);
  }
}

@media screen and (max-width: 400px) {
  .work-grid li {
    width: 100%;
  }
}

@media screen and (max-width: 300px) {
  .work-grid li {
    width: 100%;
  }
}



/* 08. Services -------------------------------------------------- */

#how-it-works {
  background: #fff;
  position: relative;
  z-index: 10;
}

.service-type {
  background: #f0f0f0;
  padding: 35px 45px 120px 45px;
  margin-bottom: 30px;
  position: relative;
  transition: background 0.3s;
  -webkit-transtion: background 0.3s;
}
  .service-type ul {
    font-weight: 600;
    text-transform: uppercase;
    display: inline-block;
    position: absolute;
    z-index: 11;
    bottom: 30px;
  }
  .service-type li {
    margin-bottom: 8px;
  }
  .service-type ul.left-list {
    right: 180px;
  }
  .service-type ul.right-list {
    right: 45px;
  }
  .service-type:hover {
    background: rgba(199, 2, 48, 0.6);
  }
    .service-type:hover p.service-type-title::after {
      background: #fff;
    }

p.service-type-title {
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
  z-index: 11;
}
  p.service-type-title::after {
    background-color: #c70331;
    content: "";
    height: 2px;
    width: 40px;
    margin: 15px 0 24px 0;
    display: block;
    transition: background 0.3s;
    -webkit-transtion: background 0.3s;
  }

p.service-type-text {
  line-height: 1.9em;
  position: relative;
  z-index: 11;
}

.service-type-number {
  color: #fff;
  font-size: 350px;
  font-weight: 700;
  line-height: 1em;
  text-align: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
  z-index: 10;
}

.process {
  text-align: center;
  margin: 80px 0; }
  .process h3 {
    margin-bottom: 30px; }
  .process p.sub-header-small {
    margin-bottom: 75px; }
  .process img {
    text-align: center;
    margin-top: 5px;
    margin-left: -16px;
  }

.process-image {
  background: url(schedule.png) no-repeat;
  background-size: 100% auto;
  max-width: 100%;
  height: 266px;
  display: block;
}

ul.process-list li {
  width: 120px;
  padding: 0 10px;
}
ul.process-list h4 {
  margin-bottom: 20px;
}

li.class-time {
  border-bottom: 2px solid #c70331;
}

li.coding-time {
  border-bottom: 2px solid #ec1556;
}

li.pitch-time {
  border-bottom: 2px solid #de6580;
}

li.admin-time {
  border-bottom: 2px solid #4a0000;
}


/* 09. Separators -------------------------------------------------- */

#separator-1, #separator-2 {
  text-align: center;
  padding-top: 70px;
}

#separator-1 {
  background: url(separator-bcn.png) 50% 0 repeat fixed;
  background-size: 100%;
  width: 100%;
  height: 377px;
  position: relative;
  z-index: 10;
}

#separator-2 {
  background: url(separator-bcn.png) 50% 0 repeat fixed;
  background-size: 100%;
  width: 100%;
  height: 377px;
  position: relative;
  z-index: 10;
}

p.separator-title {
  color: #fff;
  font-size: 52px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 30px;
}

p.separator-text {
  color: #fff;
  font-size: 20px;
  margin-bottom: 40px;
}



/* 10. About -------------------------------------------------- */

#about {
  background: #3c3c3c;
  padding: 50px 0 80px 0;
  position: relative;
  z-index: 10;
  overflow: hidden;
}
  #about h2, #about h4, #about p {
    color: #fff;
  }

.lens-profile-timeline {
  list-style: none;
  padding: 0;
  margin: 160px 0 80px;
  border-bottom: 2px solid #d2d2d2;
  position: relative;
}
  .lens-profile-timeline li {
    position: absolute;
    width: 24px;
    height: 24px;
    border: 7px solid #fff;
    border-radius: 24px;
    background: #c70331;
    margin-top: -11px;
  }
  .lens-profile-timeline time, .lens-profile-timeline p {
    left: -32px;
    top: -60px;
    position: absolute;
    width: 80px;
    text-align: center;
  }
  .lens-profile-timeline time {
    color: #fff;
    margin-top: 90px;
    font-size: 16px;
  }
  .lens-profile-timeline p {
    margin-top: 0px;
    font-size: 14px;
    line-height: 1.3em;
  }

.about-info {
  margin-top: 60px;
}
  .about-info h4 {
    margin-bottom: 30px;
  }
  .about-info p {
    margin-bottom: 20px;
  }
  .about-info ul {
    margin-bottom: 30px;
  }
  .about-info ul i {
    font-size: 16px;
    color: #fff;
  }
  .about-info ul i:hover {
    color: #ec1556;
  }

.sponsors {
  background: #fff;
  padding: 80px 0;
  position: relative;
  z-index: 11;
}
  .sponsors h3 {
    text-align: center;
    margin-bottom: 80px;
  }
  .sponsors h4 {
    margin-bottom: 20px;
  }
  .sponsors img {
    margin-bottom: 50px;
  }
  .sponsors ul {
    margin-top: 20px;
  }
    .sponsors ul li {
      padding: 0 3px;
    }
    .sponsors ul a {
      background: #d8d8d8;
      width: 24px;
      height: 24px;
      text-align: center;
      display: block;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 3px;
      transition: background 0.3s;
      -webkit-transtion: background 0.3s;
    }
      .sponsors ul a:hover {
        background: #ec1556;
      }
    .sponsors ul i {
      color: #fff;
      font-size: 16px;
    }



/* 11. Why code -------------------------------------------------- */

#why-code {
  background: #fff;
  position: relative;
  z-index: 11;
  padding: 40px 0 70px 0;
}

.news {
  width: 100%;
  height: 280px;
  position: relative;
  margin-bottom: 30px;
}

.news-1 {
  background: url(whycode1.png);
}

.news-2 {
  background: url(whycode2.png);
}

.news-3 {
  background: url(whycode3.png);
}

.news-content {
  background: rgba(192, 192, 192, 0.7);
  color: #fff;
  text-align: right;
  padding: 20px;
  position: absolute;
  top: 20px;
  bottom: 20px;
  left: 20px;
  right: 20px;
  transition: background 0.3s;
  -webkit-transtion: background 0.3s;
}
  .news-content:hover {
    background: rgba(199, 2, 48, 0.6);
  }
  .news-content p {
    text-align: right;
    color: #fff;
    position: absolute;
    bottom: 0;
  }

p.news-title {
  font-size: 32px;
  font-weight: 700;
  line-height: 1.2em;
  bottom: 60px;
  right: 20px;
}
  p.news-title::after {
    background-color: #fff;
    content: "";
    height: 2px;
    width: 40px;
    margin-top: 14px;
    display: block;
    position: absolute;
    right: 0;
  }

p.news-read-more {
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  bottom: 10px;
  right: 20px;
}



/* 12. Contact -------------------------------------------------- */

#contact {
  background: #3c3c3c;
  color: #fff;
  padding: 50px 0 80px 0;
  position: relative;
  z-index: 10;
}
  #contact h2, #contact h4 {
    color: #fff;
  }
  #contact p.sub-header {
    color: #d1d1d1;
  }
  #contact span.section-header-line {
    border-color: #838383;
  }

ul.contact-info-list {
  text-align: center;
  margin-top: 50px;
}
  ul.contact-info-list li {
    border-right: 1px solid #6d6d6d;
    padding: 15px 25px 15px 25px;
    vertical-align: top;
  }
  ul.contact-info-list li:last-child {
    border: none;
  }

p.contact-info-title {
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
}

p.contact-info-text {
  color: #d1d1d1;
}

a.contact-info-text {
  color: #d1d1d1;
}

a.contact-info-text:hover {
  color: #ec1556;
}

#contact input.form-control, #contact textarea.form-control {
  background: #545454;
  color: #fff !important;
  border: none;
}

.contact-form-spacer {
  padding-bottom: 28px;
}

.map {
  margin-top: 70px;
  position: relative;
}

p.copyright {
  background: #f9f9f9;
  font-size: 12px;
  text-align: center;
  padding: 20px 0 20px 0;
  margin: 0;
}

.flash-error {
  background-color: #ec1556;
  width: 100%;
  height: 40px;
  padding: 10px;
  color: #fff;
  text-align: center;
}

#contact-form button {
  background-color: #ec1556;
}

#contact-form input[type=checkbox] {
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  padding: 10px;
}

#contact-form .register {
  font-size: 20px;
  color: #d1d1d1;
}


/* 13. Single project -------------------------------------------------- */

#project-intro {
  background: url(../images/single-project-intro.jpg) 50% 0 repeat fixed;
  background-size: cover;
  width: 100%;
  height: 95vh;
  position: relative;
  z-index: 1;
}
  #project-intro .project-intro-bg {
    background: rgba(199, 2, 48, 0.6);
    position: absolute;
    top: 85px;
    bottom: 24px;
    left: 24px;
    right: 24px;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }
  #project-intro p {
    color: #fff;
  }

p.project-title {
  font-size: 66px;
  font-weight: 700;
  line-height: 1em;
  text-transform: uppercase;
  position: absolute;
  top: 45%;
  left: 0;
  right: 0;
  text-align: center;
  margin-bottom: 0;
}
  p.project-title span {
    font-size: 24px;
    text-transform: none;
  }

p.project-client {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  right: 40px;
  bottom: 20px;
}

.project-description {
  text-align: center;
  margin: 80px 0 0 0;
}
  .project-description h3 {
    margin: 0 0 35px 0;
  }
  .project-description p {
    font-size: 18px;
    margin-bottom: 60px;
  }

p.project-text-medium {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  margin: 50px 0;
}

.project-images-medium {
  margin: 40px 0 0 0;
}

.more-projects {
  background: #f0f0f0;
  margin-top: 30px;
  padding: 70px 0 100px 0;
}
  .more-projects h4 {
    text-align: center;
    margin-bottom: 50px;
  }



/* 14. Blog -------------------------------------------------- */

.single-post {
  width: 100%;
  height: 100vh;
  position: relative;
}
  .single-post hr {
    border-top: 2px solid #dcdcdc;
  }
  .single-post .logo {
    color: #fff;
    position: relative;
    left: 0;
  }
    .single-post .logo a {
      color: #fff;
    }

.post-left, .post-right {
  display: inline-block;
  height: 100%;
  width: 50%;
  position: relative;
  margin: 0;
}

.post-left {
  background: url(../images/single-post.jpg);
  background-size: cover;
  overflow: hidden;
}

.post-left-content {
  background: rgba(199, 2, 48, 0.6);
  padding: 30px 45px 45px 45px;
  position: absolute;
  top: 15px;
  bottom: 15px;
  left: 15px;
  right: 15px;
}
  .post-left-content hr {
    border-color: #fff;
    margin-bottom: 60px;
  }
  .post-left-content p {
    color: #fff;
    text-align: right;
  }

p.post-info {
  font-size: 16px;
  font-weight: 600;
}

p.post-title {
  font-size: 70px;
  font-weight: 700;
  line-height: 1.0em;
  position: absolute;
  bottom: 50px;
  right: 50px;
  left: 90px;
}

.post-right {
  background: #fff;
  overflow: auto;
  position: relative;
}
  .post-right .menu-btn {
    position: fixed;
    z-index: 1000;
    top: 40px;
    right: 50px;
  }
  .post-right hr {
    margin-bottom: 15px;
  }

.post-right-content {
  height: 100%;
  padding: 80px 50px 50px 50px;
  position: absolute;
  overflow: scroll;
}

p.post-intro {
  font-size: 24px;
  line-height: 1.6em;
  margin: 55px 0 55px 0;
}

.comments {
  position: relative;
  overflow: hidden;
}
  .comments hr {
    margin-top: 60px;
  }
  .comments a {
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
  }
    .comments a:hover {
      color: #c70331;
      text-decoration: none;
    }



/* 15. 404 Page -------------------------------------------------- */

.page-404 {
  position: relative;
}
  .page-404 .text-404 {
    font-size: 300px;
    font-weight: 700;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    text-align: center;
  }
    .page-404 .text-404 h1 {
      line-height: 1em;
    }
  .page-404 .text-white {
    color: #fff;
  }
  .page-404 .halfStyle.hs-base {
    font-size: 300px;
    color: #3a3a3a;
  }
    .page-404 .halfStyle.hs-base::before {
      color: #fff;
    }
  .page-404 .back-404 {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10%;
  }
    .page-404 .back-404 p {
      font-size: 34px;
      font-weight: 700;
      margin-bottom: 40px;
    }



/* 16. Style tile -------------------------------------------------- */

.style-tile {
  padding: 120px 0 60px 0;
}
  .style-tile section {
    margin-bottom: 120px;
  }
  .style-tile h4 {
    margin-bottom: 15px;
  }
  .style-tile .sub-header {
    margin-bottom: 30px;
  }
  .style-tile .sub-header-small {
    margin-bottom: 20px;
  }

p.style-tile-header {
  background: #c70331;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 18px 22px;
}


/* Buttons */

.buttons-white, .buttons-dark {
  padding: 50px 40px;
  margin-top: 60px;
}

.buttons-white {
  background: #f4f4f4;
}

.buttons-dark {
  background: #3c3c3c;
}


/* Pricing tables */

.pricing-table {
  padding: 40px 45px;
  margin-top: 60px;
}
  .pricing-table ul {
    margin: 0 0 40px 0;
  }
  .pricing-table .btn {
    display: block;
  }
  .pricing-table ul {
    font-size: 16px;
  }
    .pricing-table ul li {
      margin-bottom: 6px;
    }

p.pt-title {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 18px;
}

p.pt-price {
  font-size: 60px;
  font-weight: 600;
  line-height: 1em;
}
  p.pt-price span {
    font-size: 14px;
    text-transform: uppercase;
  }

.pt-gray, .pt-color {
  background: #787878;
}
  .pt-gray p, .pt-gray ul, .pt-color p, .pt-color ul {
    color: #fff;
  }

.pt-color {
  background: #c70331;
}
  .pt-color .btn:hover {
    background: #fff;
    color: #c70331;
    border-color: #fff;
  }

.pt-white {
  background: #fff;
  border: 2px solid #3c3c3c;
}

/* Forms */
.form-white-bg, .form-dark-bg {
  padding: 40px;
  margin-top: 60px;
}
  .form-white-bg input, .form-dark-bg input {
    margin-bottom: 25px;
  }

.form-white-bg {
  background: #f4f4f4;
}

.form-dark-bg {
  background: #3c3c3c;
}

.form-control {
  border-radius: 0;
  height: 44px;
}

.transparent-form {
  background: transparent;
}

textarea.form-control {
  height: 200px;
}



/* 17. Media queries -------------------------------------------------- */

@media only screen and (max-width: 1300px) {
  #container {
    border-left-width: 0px;
    border-right-width: 0px;
  }
}


/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  .text-intro {
    padding-left: 20px;
    padding-right: 20px;
  }

  ul.process-list li {
    width: 150px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .about-info img {
    margin: 20px auto 50px auto;
  }
}


/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  h1, .page-404 .text-404, .page-404 .halfStyle.hs-base {
    font-size: 250px;
  }

  ul.process-list li {
    width: 150px;
    padding-left: 6px;
    padding-right: 6px;
  }

  .sponsors img {
    margin-bottom: 50px;
  }

  .more-projects img {
    margin-bottom: 40px;
  }

  .post-left, .post-right {
    display: block;
    width: 100%;
  }

  .post-right, .post-right-content {
    overflow: hidden;
    position: relative;
    height: auto;
  }
}


/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  h1, .page-404 .text-404, .page-404 .halfStyle.hs-base {
    font-size: 180px;
  }

  .text-intro {
    padding-left: 0;
    padding-right: 0;
  }

  .project-images-medium img {
    margin: 0 auto 20px auto;
  }
}


@media only screen and (max-width: 715px) {
  .logo {
    left: 10px;
  }

  .menu-btn {
    right: 10px;
  }

  .text-intro {
    padding-left: 10px;
    padding-right: 10px;
  }

  ul.process-list li {
    width: 100%;
    margin-bottom: 30px;
  }

  .process-image {
    display: none;
  }

  #separator-1, #separator-2 {
    padding-top: 20px;
  }
    
    ol.lens-profile-timeline {
      display: none;
    }
}


@media only screen and (max-width: 530px) {
  h1, .page-404 .text-404, .page-404 .halfStyle.hs-base {
    font-size: 120px;
  }

  ul.contact-info-list li {
    border-right: none;
  }
  ul.contact-info-list p {
    font-size: 12px;
  }

  p.post-title {
    font-size: 50px;
    left: 40px;
  }

  .buttons-white li, .buttons-dark li {
    margin-bottom: 20px;
  }
}


/* Extra Small Devices, Phones */
@media only screen and (max-width: 450px) {
  h1, .page-404 .text-404, .page-404 .halfStyle.hs-base {
    font-size: 100px;
  }

  .section-header {
    display: none;
  }

  p.separator-title {
    font-size: 32px;
  }

  .service-type-number {
    font-size: 200px;
  }

  p.post-title {
    font-size: 40px;
  }

  .page-404 .back-404 p {
    font-size: 20px;
  } 
}


/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  h1, .page-404 .text-404, .page-404 .halfStyle.hs-base {
    font-size: 80px;
  }
}