<h1> Woohoo, we got a message about Hackfest! </h1>

<p>From: <%=@contact.name %></p>
<p>Email: <%=@contact.email %></p>
<p>Message: <%=@contact.message %></p>

<h2> You should probably reply :) </h2>
